*.exe
*.o
*.i
*.elf
*.gba
!data/mb_ereader.gba
!data/mb_berry_fix.gba
baserom_jp.gba
*.sgm
*.sa1
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
!graphics/pokemon/**/*.lz
!graphics/misc/*.lz
!graphics/diploma/national.gbapal
!graphics/diploma/hoenn.gbapal
!graphics/diploma/tilemap.bin.lz
!graphics/diploma/tiles.4bpp.lz
!graphics/pokedex/cry_meter_needle.4bpp
!graphics/pokedex/cry_meter_needle.gbapal
!graphics/pokedex/cry_meter.gbapal
!graphics/pokedex/cry_meter.4bpp.lz
!graphics/pokedex/cry_screen_bg.gbapal
!graphics/pokedex/cry_screen_bg.4bpp
!graphics/trainers/**/*.lz
!graphics/battle_frontier/*.lz
!graphics/unknown_lz/*.lz
!graphics/battle_frontier/*.gbapal
!graphics/trainers/**/*.4bpp
!graphics/pokemon/**/*.4bpp
!data/tilesets/**/*.lz
!data/tilesets/**/*.gbapal
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
!sound/tone_data/*.bin
!sound/direct_sound_samples/*.bin
sound/songs/midi/*.s
tools/agbcc
tools/agbcc-src
tools/binutils
tools/br_ips/br_ips
tools/br_ips/ips_patch
*.map
*.ld
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.project.cfg
.vscode/
.ropeproject/
.ccls-cache/
__pycache__/
.git_commit_template
AGENTS.md
.codegraph/
