*.exe
*.o
*.i
*.elf
*.gba
!data/mb_ereader.gba
!data/mb_berry_fix.gba
baserom_jp.gba
*.sgm
*.sa1
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
!graphics/pokemon/**/*.lz
!graphics/misc/*.lz
!graphics/cable_car/*.lz
!graphics/trainers/**/*.lz
!graphics/battle_frontier/*.lz
!graphics/unknown_lz/*.lz
!graphics/battle_frontier/*.gbapal
!graphics/battle_transitions/*.4bpp
!graphics/battle_transitions/*.gbapal
!graphics/battle_transitions/*.lz
!graphics/pokedex/cry_meter_needle.4bpp
!graphics/pokedex/cry_meter_needle.gbapal
!graphics/pokedex/cry_meter.gbapal
!graphics/pokedex/cry_meter.4bpp.lz
!graphics/pokedex/cry_screen_bg.gbapal
!graphics/pokedex/cry_screen_bg.4bpp
!graphics/pokedex/bg_hoenn.gbapal
!graphics/pokedex/search_results_bg.gbapal
!graphics/pokedex/bg_national.gbapal
!graphics/pokedex/menu.4bpp
!graphics/pokedex/interface.4bpp
!graphics/interface/ui_learn_move.4bpp
!graphics/interface/ui_learn_move.gbapal
!graphics/intro/copyright.gbapal
!graphics/intro/copyright.4bpp.lz
!graphics/intro/copyright.bin.lz
!graphics/intro/scene_1/drops.png.gbapal
!graphics/intro/scene_1/logo.png.gbapal
!graphics/intro/scene_1/drops_logo.png.4bpp.lz
!graphics/intro/scene_1/bg.png.gbapal
!graphics/intro/scene_1/bg0_map.bin.lz
!graphics/intro/scene_1/bg1_map.bin.lz
!graphics/intro/scene_1/bg2_map.bin.lz
!graphics/intro/scene_1/bg3_map.bin.lz
!graphics/intro/scene_1/bg.png.4bpp.lz
!graphics/intro/scene_1/flygon.png.gbapal
!graphics/intro/scene_1/flygon.png.4bpp.lz
!graphics/intro/scene_1/lati.png.4bpp.lz
!graphics/intro/scene_1/sparkle.png.4bpp.lz
!graphics/intro/scene_2/volbeat.png.gbapal
!graphics/intro/scene_2/torchic.png.gbapal
!graphics/intro/scene_2/manectric.png.gbapal
!graphics/intro/scene_2/volbeat.png.4bpp.lz
!graphics/intro/scene_2/torchic.png.4bpp.lz
!graphics/intro/scene_2/manectric.png.4bpp.lz
!graphics/intro/scene_3/pokeball.png.gbapal
!graphics/intro/scene_3/pokeball_map.bin.lz
!graphics/intro/scene_3/pokeball.png.8bpp.lz
!graphics/intro/scene_3/streaks.png.gbapal
!graphics/intro/scene_3/streaks.png.4bpp.lz
!graphics/intro/scene_3/streaks_map.bin.lz
!graphics/intro/scene_3/rayquaza_orb.png.gbapal
!graphics/intro/scene_3/misc.png.gbapal
!graphics/intro/scene_3/misc.png.4bpp.lz
!graphics/intro/scene_3/lightning.png.4bpp.lz
!graphics/intro/scene_3/lightning.png.gbapal
!graphics/intro/scene_3/bubbles.png.4bpp.lz
!graphics/intro/scene_3/bubbles.png.gbapal
!graphics/diploma/national.gbapal
!graphics/diploma/hoenn.gbapal
!graphics/diploma/tilemap.bin.lz
!graphics/diploma/tiles.4bpp.lz
!graphics/trainers/**/*.4bpp
!graphics/pokemon/**/*.4bpp
!data/tilesets/**/*.lz
!data/tilesets/**/*.gbapal
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
!sound/tone_data/*.bin
!sound/direct_sound_samples/*.bin
sound/songs/midi/*.s
tools/agbcc
tools/agbcc-src
tools/binutils
tools/br_ips/br_ips
tools/br_ips/ips_patch
*.map
*.ld
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.project.cfg
.vscode/
.ropeproject/
.ccls-cache/
__pycache__/
.git_commit_template
AGENTS.md
.codegraph/
